/* TODO */
button{
    font-size: 16px;
    color: white;
    background-color: hotpink;
    border-radius: 15px;
    font-weight: bold;
    border: 4px solid;
    border-color:rgb(204, 84, 144);
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}
button:hover{
    background-color: rgb(172, 70, 121);
    border-color:rgb(93, 39, 65) ;
}
button:active{
    background-color: rgb(141, 58, 100);
    border-color:rgb(66, 27, 46) ;
}