body {
    background: grey;
    font-family: sans-serif;
    padding-bottom: 20px;
}

div {
    background-color: white;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.button1, .button2, .button3 {
    border-radius: 30px;
    padding: 10px 20px; 
    cursor: pointer;
}

.button1 {
    background-color: aqua;
}

.button2 {
    background-color: rgb(255, 47, 0);
    color: white;
}

.button3 {
    background-color: rgb(21, 0, 255);
    color: white;
}
