.container{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 30px 20px;
    
}
.profile{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
